<div class="form-field">
  <label class="form-field__label" for="w3c-select-1" data-lfr-editable-id="select-label" data-lfr-editable-type="text">Country</label>
  <select class="form-field__select" id="w3c-select-1">
    <option value="" disabled selected hidden>Select a country</option>
    <option value="us">United States</option>
    <option value="es">Spain</option>
    <option value="jp">Japan</option>
    <option value="cn">China</option>
    <option value="de">Germany</option>
  </select>
</div>
