[#assign level = configuration.level!'h2' /]
[#if level == 'h2']<h2 class="section-heading txt-earth" data-lfr-editable-id="section-heading" data-lfr-editable-type="text">Section heading</h2>[/#if]
[#if level == 'h3']<h3 class="section-heading txt-mars" data-lfr-editable-id="section-heading" data-lfr-editable-type="text">Section heading</h3>[/#if]
[#if level == 'h4']<h4 class="section-heading txt-jupiter" data-lfr-editable-id="section-heading" data-lfr-editable-type="text">Section heading</h4>[/#if]
