<fieldset class="form-fieldset">
  <legend class="form-fieldset__legend" data-lfr-editable-id="r-legend" data-lfr-editable-type="text">Preferred language</legend>
  <div class="form-check">
    <input class="form-check__input" id="r-1" type="radio" name="lang" value="en" checked/>
    <label class="form-check__label" for="r-1">English</label>
  </div>
  <div class="form-check">
    <input class="form-check__input" id="r-2" type="radio" name="lang" value="ja"/>
    <label class="form-check__label" for="r-2">日本語 (Japanese)</label>
  </div>
  <div class="form-check">
    <input class="form-check__input" id="r-3" type="radio" name="lang" value="zh"/>
    <label class="form-check__label" for="r-3">中文 (Chinese)</label>
  </div>
</fieldset>
