<ul class="tag-list clean-list" role="list">
  <li><a class="tag" href="#" data-lfr-editable-id="tag-1" data-lfr-editable-type="link">Accessibility</a></li>
  <li><a class="tag" href="#" data-lfr-editable-id="tag-2" data-lfr-editable-type="link">CSS</a></li>
  <li><a class="tag" href="#" data-lfr-editable-id="tag-3" data-lfr-editable-type="link">HTML</a></li>
  <li><a class="tag" href="#" data-lfr-editable-id="tag-4" data-lfr-editable-type="link">JavaScript</a></li>
  <li><a class="tag" href="#" data-lfr-editable-id="tag-5" data-lfr-editable-type="link">Internationalization</a></li>
</ul>
