<fieldset class="form-fieldset">
  <legend class="form-fieldset__legend" data-lfr-editable-id="cb-legend" data-lfr-editable-type="text">Subscribe to W3C newsletters</legend>
  <p class="form-fieldset__hint" data-lfr-editable-id="cb-hint" data-lfr-editable-type="text">Choose any that interest you.</p>
  <div class="form-check">
    <input class="form-check__input" id="cb-1" type="checkbox" value="standards"/>
    <label class="form-check__label" for="cb-1">Standards updates</label>
  </div>
  <div class="form-check">
    <input class="form-check__input" id="cb-2" type="checkbox" value="news"/>
    <label class="form-check__label" for="cb-2">News and events</label>
  </div>
  <div class="form-check">
    <input class="form-check__input" id="cb-3" type="checkbox" value="dev"/>
    <label class="form-check__label" for="cb-3">Developer resources</label>
  </div>
</fieldset>
