<aside class="crosslinks">
  <div class="l-center">
    <div class="component component--columns component--columns--images">
      <div class="component--columns__intro">
        <h2 data-lfr-editable-id="cl-heading" data-lfr-editable-type="text">You may also like</h2>
        <p data-lfr-editable-id="cl-intro" data-lfr-editable-type="rich-text">Recommended reading and links related to this page.</p>
      </div>
      <ul class="clean-list" role="presentation">
        <li>
          <div class="card">
            <div class="card__text">
              <h3 class="card__heading" data-lfr-editable-id="cl-1-heading" data-lfr-editable-type="text">W3C starts web payments standards work</h3>
              <p data-lfr-editable-id="cl-1-text" data-lfr-editable-type="rich-text">A new working group at W3C will standardize the way merchants and customers exchange information on the Web.</p>
              <a href="#" data-lfr-editable-id="cl-1-link" data-lfr-editable-type="link">
                <span class="visuallyhidden">W3C starts web payments standards work</span>
                <span data-lfr-editable-id="cl-1-link-text" data-lfr-editable-type="text">Learn more</span>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="card__text">
              <h3 class="card__heading" data-lfr-editable-id="cl-2-heading" data-lfr-editable-type="text">Work begins on extensions to WCAG 2.0</h3>
              <p data-lfr-editable-id="cl-2-text" data-lfr-editable-type="rich-text">Extensions will help authors meet accessibility needs of people with cognitive, learning and low-vision disabilities.</p>
              <a href="#" data-lfr-editable-id="cl-2-link" data-lfr-editable-type="link">
                <span class="visuallyhidden">Work begins on extensions to WCAG 2.0</span>
                <span data-lfr-editable-id="cl-2-link-text" data-lfr-editable-type="text">Learn more</span>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="card__text">
              <h3 class="card__heading" data-lfr-editable-id="cl-3-heading" data-lfr-editable-type="text">Contributions to ISOC report on mobile internet</h3>
              <p data-lfr-editable-id="cl-3-text" data-lfr-editable-type="rich-text">W3C contributes its perspective on the long-term role of the Web in mobile communications.</p>
              <a href="#" data-lfr-editable-id="cl-3-link" data-lfr-editable-type="link">
                <span class="visuallyhidden">Contributions to ISOC report on mobile internet</span>
                <span data-lfr-editable-id="cl-3-link-text" data-lfr-editable-type="text">Learn more</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</aside>
