<section class="crosslinks" aria-labelledby="crosslinks-heading">
  <div class="l-center">
    <h2 id="crosslinks-heading" class="crosslinks__heading" data-lfr-editable-id="cl-heading" data-lfr-editable-type="text">You may also like</h2>
    <ul class="crosslinks__list clean-list l-switcher" role="list">
      <li>
        <div class="card card--news">
          <div class="card__text">
            <h3 class="card__heading"><a href="#" data-lfr-editable-id="cl-1-link" data-lfr-editable-type="link"><span data-lfr-editable-id="cl-1-text" data-lfr-editable-type="text">W3C starts web payments standards work</span></a></h3>
          </div>
        </div>
      </li>
      <li>
        <div class="card card--news">
          <div class="card__text">
            <h3 class="card__heading"><a href="#" data-lfr-editable-id="cl-2-link" data-lfr-editable-type="link"><span data-lfr-editable-id="cl-2-text" data-lfr-editable-type="text">Work begins on extensions to WCAG 2.0</span></a></h3>
          </div>
        </div>
      </li>
      <li>
        <div class="card card--news">
          <div class="card__text">
            <h3 class="card__heading"><a href="#" data-lfr-editable-id="cl-3-link" data-lfr-editable-type="link"><span data-lfr-editable-id="cl-3-text" data-lfr-editable-type="text">Contributions to ISOC report on mobile internet</span></a></h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
